<%= javascript_include_tag :defaults %>
<%= javascript_include_tag :ckeditor %>
<%= form_for([@post, @post.comments.build]) do |f| %>

<div class="field">
    <%= f.hidden_field :commenter, { :value => session[:user_name] } %>
  </div>
  <div class="field">
    <%= f.hidden_field :parent_id %> 
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.cktext_area :body,:toolbar=>'Easy', :width=>'400px', :height=>'200px'%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>