
<div id="post_list" >
<h1>Listing your posts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Content</th>
    <th>Updated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= render 'view' %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
</div>

<div id="post_list">
<h1>Listing posts by others</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Content</th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <%  if post.name != session[:user_name] %>
  <tr class=" <%= cycle('list_line_odd' , 'list_line_even') %>">
    <td><%= post.name %></td>
    <td><%= post.title %></td>
    <td><%= raw truncate(strip_tags(post.content),:length => 400) %></td>
    <td><%= link_to 'Show', post %></td>
  </tr>
  <% end %>
<% end %>
</table>

<br />

</div>

<div id="post_list">
  <h1>Recent Activities</h1>
  <%= render 'recent_activity' %>
</div>